html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Futura BK BT', Arial, sans-serif !important;
  font-size: 14px;
  margin: 0;
}

@font-face {
  font-family: "Futura BK BT";
  src: url("/public/fonts/Futura.ttf");
}